#container {
    position: relative;
    margin: auto;
    width: 700px;
}

#main-canvas {
    background-color: #D9D9D9;
}

#next-canvas {
    position: absolute;
    top: 0;
    left: 380px;
}

#hold-canvas {
    position: absolute;
    top: 200px;
    left: 380px;
}

#score-area {
    position: absolute;
    top: 400px;
    left: 380px;
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 6px solid rgb(179, 38, 3);
    font-size: 30px;
    padding: 5px;
    text-align: right;
}

#howto-area {
    position: absolute;
    top: 0px;
    left: 600px;
    display: inline-block;
    text-align: right;
}

#howto-area table {
    width: 100%;
    border-collapse: collapse;
    color: black;
    font-size: large;
    text-align: center;
}

#howto-area th {
    border: solid 5px white;
    padding: 10px;
    background: #d7986e;
}

#howto-area td {
    border: solid 5px white;
    padding: 10px;
    background: #6e8fd7;
}

#start-btn {
    position: absolute;
    left: 380px;
    bottom: 60px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    transition: .5s;
    background-size: 200%;
}


#pause-btn {
    position: absolute;
    left: 380px;
    bottom: 0px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #7185f5 0%, #71fa8c 100%);
    transition: .5s;
    background-size: 200%;
}

#start-btn:hover {
    background-position: right center;
}

#effect-text {
    position: absolute;
    top: 450px;
    left: 400px;
    display: inline-block;
    opacity: 0.0;
}

.gradation {
    background: linear-gradient(90deg, #4158D0, #C850C0 30%, #FFCC70);
    background: -webkit-linear-gradient(0deg, #4158D0, #C850C0 30%, #FFCC70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}