#container {
    position: relative;
    margin: auto;
    width: 700px;
}

#next-canvas {
    position: absolute;
    top: 0;
    left: 400px;
}

#score-area {
    position: absolute;
    top: 200px;
    left: 400px;
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 6px solid rgb(179, 38, 3);
    font-size: 30px;
    padding: 5px;
    text-align: right;
}

#img-howto {
    position: absolute;
    bottom: 200px;
    left: 360px;
}

#start-btn {
    position: absolute;
    left: 400px;
    bottom: 0;
    width: 180px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    transition: .5s;
    background-size: 200%;
}

#start-btn:hover {
    background-position: right center;
}